@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Базовая палитра */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --font-heading: var(--font-sans);
  --color-ring: var(--ring);
  --color-border: var(--border);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);

  /* Сайдбар */
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent-hover: var(--sidebar-accent-hover);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --tracking-sidebar: var(--sidebar-tracking);

  /* Компоненты shadcn */
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-input: var(--input);

  /* Радиус */
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  /* Базовая палитра */
  --background: #f5f5f7;
  --foreground: #2e2e2e;
  --primary: #c63031;
  --primary-foreground: #ffffff;
  --border: #e5e5e5;
  --ring: #a1a1a1;

  /* Кнопка */
  --button-height: 48px;
  --button-width-narrow: 220px;
  --button-width-action: 320px;
  --button-width-form: 410px;
  --button-width-form-min: 260px;
  --button-width-form-max: 670px;
  --button-radius: 40px;
  --button-leading: 24.5px;
  --button-tracking: 0.4px;
  --button-disabled: #0000001f;
  --button-disabled-foreground: #00000042;

  /* Сайдбар */
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: #0000000a;
  --sidebar-accent-hover: #00000005;
  --sidebar-accent-foreground: var(--foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
  --sidebar-tracking: 0.15px;
  --sidebar-width: 16rem;
  --sidebar-width-mobile: 18rem;
  --sidebar-width-icon: 3rem;

  /* Компоненты shadcn */
  --card: #ffffff;
  --card-foreground: #2e2e2e;
  --popover: #ffffff;
  --popover-foreground: #2e2e2e;
  --secondary: #767676;
  --secondary-foreground: #ffffff;
  --muted: #f5f5f5;
  --muted-foreground: #00000099;
  --accent: #f5f5f5;
  --accent-foreground: #2e2e2e;
  --destructive: #e7000b;
  --input: #e5e5e5;

  /* Радиус */
  --radius: 0.625rem;
}

.dark {
  /* Базовая палитра */
  --background: #353535;
  --foreground: #ffffff;
  --border: #ffffff1a;
  --ring: #737373;

  /* Кнопка */
  --button-disabled: #ffffff1f;
  --button-disabled-foreground: #ffffff61;

  /* Сайдбар */
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: #ffffff14;
  --sidebar-accent-hover: #ffffff0a;
  --sidebar-accent-foreground: var(--foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);

  /* Компоненты shadcn */
  --card: #404040;
  --card-foreground: #ffffff;
  --popover: #404040;
  --popover-foreground: #ffffff;
  --secondary: #a1a1a1;
  --secondary-foreground: #2e2e2e;
  --muted: #4a4a4a;
  --muted-foreground: #ffffffb2;
  --accent: #4a4a4a;
  --accent-foreground: #ffffff;
  --destructive: #ff6467;
  --input: #ffffff26;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
