@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-subtle-foreground: var(--subtle-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: #2e2e2e;
  --card: oklch(1 0 0);
  --card-foreground: #2e2e2e;
  --popover: oklch(1 0 0);
  --popover-foreground: #2e2e2e;
  --primary: #c63031;
  --primary-foreground: #ffffff;
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: #2e2e2e;
  --muted: oklch(0.97 0 0);
  --muted-foreground: #767676;
  --subtle-foreground: #767676;
  --accent: oklch(0.97 0 0);
  --accent-foreground: #2e2e2e;
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: #a1a1a1;
  --radius: 0.625rem;
  --button-height: 46px;
  --button-width-wide: 218px;
  --button-width-action: 319px;
  --button-width-form: 410px;
  --button-width-form-min: 260px;
  --button-width-form-max: 670px;
  --button-radius: 40px;
  --button-leading: 24.5px;
  --button-tracking: 0.4px;
  --button-disabled: #0000001f;
  --button-disabled-foreground: #00000042;
}

.dark {
  --background: #353535;
  --foreground: #ffffff;
  --card: #404040;
  --card-foreground: #ffffff;
  --popover: #404040;
  --popover-foreground: #ffffff;
  --secondary: #4a4a4a;
  --secondary-foreground: #ffffff;
  --muted: #4a4a4a;
  --muted-foreground: #a1a1a1;
  --accent: #4a4a4a;
  --accent-foreground: #ffffff;
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --button-disabled: #ffffff1f;
  --button-disabled-foreground: #ffffff61;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
